<%= form_with(model: system, local: true) do |form| %>
  <% if system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system.errors.count, "error") %> prohibited this system from being saved:</h2>

      <ul>
      <% system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :system_title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :system_subtitle %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :system_text %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :system_body %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image, id: :system_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
